.top-bar {
    background-color: var(--verde2);
    padding: 10px;
    text-align: center;
}

.logo-top-bar {
    width: 150px;
}

.privacy-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--verde1);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #555;
}

a {
    color: var(--verde1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: var(--verde4);
    color: #fff;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .privacy-container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
